@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.Logo-main{
    
   
    font-family: 'Pacifico', cursive;
    margin-left: 10px;
    color: rgb(253, 116, 116);
    padding-bottom: 10px;
    
}