.Content2-main{
    text-align: center;
    padding-top: 100px;
    padding-left: 20%;
    color: black;
    font-family: 'Lato', sans-serif;
    height: 400px;
    
    background-color:rgba(226, 226, 226, 0.884);
    
    
    
}


.girlwithhat{
    height: 300px;
}



span{
    font-size: 80px;
}